
<div>
    <div class="col-12 d-flex justify-content-center p-3">
        <h2>INSERTA EL CÓDIGO DEL ÁRBOL<h2>
    </div>
    <div class ="col-12 d-flex justify-content-center p-3 pt-0">
         <%= render 'layouts/form_tree', code: params[:code] %> 
    </div> 
    
</div>